@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

:root {
  --color-1: #661408;
  --color-2: #ddb473;
  --color-3: #e91307;
  --color-4: #d4dce3;
  --color-5: #d75a2b;
  --bg-color: #000000;
}

body {
  margin: 0;
  background: var(--color-4);
  background-image: url(../src//assets//squares.png);
  font-family: 'Inter', sans-serif;
}
